* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  border: none;
}

:root {
  --red: hsl(0, 100%, 68%);
  --very_dark_blue: hsl(230, 29%, 20%);
  --dark_greyish_blue: hsl(230, 11%, 40%);
  --greish_blue: hsl(231, 7%, 65%);
  --light_greyish_blue: hsl(207, 33%, 95%);
}

body {
  min-width: 100%;
  max-height: 100vh;
  background-color: #fefefe;
  overflow-x: hidden;
}

.background_image {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 350px;
  border-bottom-left-radius: 50px;
  background-color: var(--light_greyish_blue);
  z-index: -1000;
}

section {
  width: 100%;
  height: 370px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section article {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
}

section article .introduction {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

section article .introduction p {
  font-size: bold !important;
  font-size: 1.1rem;
  color: var(--greish_blue);
}

section article .introduction_header {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  text-transform: uppercase;
}

section article .introduction_header h4:not(.introduction_header h3 span) {
  color: var(--greish_blue);
}

section article .introduction_header span {
  width: 150px;
  background-color: #222;
  color: #fefefe;
  padding: 6px;
  border-radius: 20px;
  margin-right: 12px;
}

section article .introduction_header h1 {
  font-size: 3rem;
}

section article .sub_area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}

section article .sub_area .sub_btn {
  width: 200px;
  height: 45px;
  background-color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: all .4s ease;

  & button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #fefefe;
    padding: 10px;
    font-size: .85rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
}

section article .sub_area .sub_btn:hover {
  filter: sepia(.4);
}

.preview_content {
  text-transform: uppercase;
  color: var(--greish_blue);
  font-weight: 500;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero img {
  position: absolute;
}

@media screen and (max-width: 768px) {
  section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }

  section article {
    height: auto;
    order: 2;
    place-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0px 20px;
  }

  section article .introduction {
    gap: 13px;
  }

  section article .introduction_header {
    gap: 15px;
  }

  section article .introduction_header h1 {
    font-size: 1.9rem;
  }

  section article .sub_area .sub_btn {
    width: 170px;
  }

  .hero {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 300px;
    order: 1;

    & img {
      position: absolute;
      height: 250px;
    }
  }
}